.icone {
    width: 10%;
}

body {
    background-color: #EDDBC7;
}

h1 {
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    color: #A7727D;
}

.corpcard {
    padding-top: 1em;
}

.footer {
   
    background-color: #A7727D;
    display: flex;
    justify-content: space-between;
    color: #EDDBC7;
}

.foot {
    margin-right: 10em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}